<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customer.css'%}">
    <title>{%block title%}{%endblock%} | Housify</title>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BlueMartin: Your one-stop online vendor for electronics, fashion, food, and more. Explore a wide range of products and services on bluemartin.ng. Are you a also an online vendor, or someone offering valuable services such as electrician work, hair dressing, tailoring, and more? Buy and Sell on BlueMartin; join our vibrant commumity at BlueMartin and showcase your goods and services to a wide audience. Visit the BlueMartin Technology Online Vendor Website to experience a seamless online shopping experience. ">
    
    <meta name="keywords" content="BlueMartin, BlueMartinTech, BlueMartin Technology, Buy and Sell, Online Vendor, Electronics, Fashion, Food, Services, Supermarket, Crypto, Users, Blogs, Nigeria, Online Shopping, Technology, E-commerce, Marketplace">
    <meta name="author" content="BlueMartin Technology">

    <!-- Open Graph meta tags for social sharing (example) -->
    <meta property="og:title" content="BlueMartin">
    <meta property="og:description" content="BlueMartin Website: Your one-stop online vendor for electronics, fashion, food, and more. Explore a wide range of products and services on bluemartin.ng powered by BlueMartin Technology.">
    <meta property="og:image" content="{% static 'img/blue.png'%}">
    <meta property="og:url" content="https://bluemartin.ng">
  
    <!-- Favicon (icon in the browser tab) -->
    <link rel="icon" type="image/png" href="{% static 'img/blue.png'%}">
</head>

<body>
    <div id="header">
        <h5 style="color: blue;">Welcome {{request.user|capfirst}}!</h5>
        <img style="width: 10%;" src="{% static 'img/blue.png'%}" alt="Logo" />
    </div>
    <hr class="hr">
    {% block content%}
    {%endblock%}
</body>

</html>